target
.project
.classpath
.settings
.idea
.vscode
*.iml
*~
.DS_Store
/.externalToolBuilders/
/maven-eclipse.xml
/.java-version
/.checkstyle
/.coe891_artifacts/

# NetBeans files
nb-configuration.xml
nbactions.xml
